include README.md
include pyproject.toml

recursive-include dtcc_wrapper_tetgen *.py
recursive-include dtcc_wrapper_tetgen/cpp/tetwrap CMakeLists.txt *.cpp
recursive-include dtcc_wrapper_tetgen/cpp/tetgen *.cxx *.h *.md LICENSE README makefile 

prune dtcc_wrapper_tetgen/__pycache__
prune dtcc_wrapper_tetgen/cpp/tetwrap/__pycache__
prune dtcc_wrapper_tetgen/cpp/tetwrap/build
